<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Categories - OpenLibrary</title>
  <!-- Add your style.css link -->
  <link rel="stylesheet" href="/css/kiet.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

	<!-- Include navbar here -->
	<div th:replace="navbar :: navbar"></div>

  <main class="container">
    <div class="categories-header">
      <h2>Categories</h2>
    </div>

	<div class="categories-grid">
		<a th:each="category : ${categories}"
		   th:href="@{'/books?categoryIds=' + ${category.bookCategoryID} + ''}"
		   th:text="${category.bookCatName}"
		   class="category-btn">
		</a>

	</div>
  </main>

</body>
</html>
