<!-- fragments/navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="navbar">
      <nav class="navbar">
        <div class="nav-container">
          <a href="/home" class="logo">b<i class="bi bi-book"></i>k</a>
          <div class="nav-right">
            <form class="search-form" th:action="@{/search}" method="get">
              <input type="text" name="query" placeholder="Search books...">
              <button type="submit"><i class="bi bi-search"></i></button>
            </form>

            <div class="nav-links">
              <a href="/help" class="nav-link"><i class="bi bi-question-circle"></i></a>
              <a href="/noti" class="nav-link"><i class="bi bi-bell"></i></a>
              <a href="/categories" class="nav-link">Categories</a>
			  <a href="/books" class="nav-link">Books</a>
              <a href="/cart" class="nav-link"><i class="bi bi-cart"></i></a>

              <!-- User avatar + name -->
              <div class="profile d-flex align-items-center">
                <span th:text="${user.name}" class="ms-2"></span>

                <!-- Dropdown Menu -->
                <div class="profile-menu text-start">
                  <a th:href="@{/profile}">My Profile</a>
                  <a th:href="@{/orders}">Reading</a>
                  <a th:href="@{/logout}">Log Out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
