<!-- fragments/navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="navbar">
      <nav class="navbar">
        <div class="nav-container">
          <a href="/home" class="logo">b<i class="bi bi-book"></i>k</a>
          <div class="nav-right">
            <form class="search-form" th:action="@{/search}" method="get">
              <input type="text" name="query" placeholder="Search books...">
              <button type="submit"><i class="bi bi-search"></i></button>
            </form>

            <div class="nav-links">
              <a href="/help" class="nav-link"><i class="bi bi-question-circle"></i></a>
              <a href="/noti" class="nav-link"><i class="bi bi-bell"></i></a>
              <a href="/categories" class="nav-link">Categories</a>
			  <a href="/books" class="nav-link">Books</a>
              <a href="/cart" class="nav-link"><i class="bi bi-cart"></i></a>

              <!-- User avatar + name -->
			  <div class="profile d-flex align-items-center">
			  	<img th:if="${user != null}" 
			  	     th:src="@{/images/{avatar}(avatar=${user.avatar})}"
			  	     style="width: 32px; height: 32px; border-radius: 50%; object-fit: cover; vertical-align: middle;" 
			  	     alt="Avatar"/>
			    <span th:text="${user.name}" class="ms-3"></span>

                <!-- Dropdown Menu -->
                <div class="profile-menu text-start">
                  <a th:href="@{/profile}">My Profile</a>
                  <a th:href="@{/reading}">Reading</a>
                  <a th:href="@{/logout}">Log Out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </th:block>
</html>